<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-white shadow text-white gradient-iron">
      <div class="container mx-auto px-4">
        <div class="flex justify-between items-center py-4">
          <a href="/" class="hover:text-blue-500">
            <div class="text-xl font-bold">My Portfolio</div>
          </a>
          <ul class="flex space-x-4">
            <li>
              <a
                href="https://www.canva.com/design/DAF_V1Xlh_I/56MhA4jE_Df2k8IvHhLq4Q/view?utm_content=DAF_V1Xlh_I&utm_campaign=designshare&utm_medium=link&utm_source=editor"
                target="_blank"
                class="hover:text-blue-500"
                >CV</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/natalia-ogorek--web-development/"
                target="_blank"
                class="hover:text-blue-500"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="https://github.com/pikkukurkku"
                target="_blank"
                class="hover:text-blue-500"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container mx-auto mt-20 px-4">
      <div
        id="projectDetailsContainer"
        class="bg-white shadow-lg rounded p-6 mb-10"
      >
        <h3 class="text-2xl font-bold mb-4"><%= project.title %></h3>
        <img
          src="<%= project.image %>"
          alt="<%= project.title %>"
          width="<%= project.imageWidth %>"
          height="<%= project.imageHeight %>"
          style="max-width: 100%"
        />
        <br />
        <p class="mb-4"><%= project.description %></p>
        <p class="mb-4"><%= project.detailedDescription %></p>
        <ul class="mt-2 mb-4">
          <% project.techStack.forEach((tech) => { %>
          <li class="inline-block text-white px-2 py-1 rounded mr-2 mt-2 tag">
            <%= tech %>
          </li>
          <% }); %>
        </ul>
        <br />
        <p class="mb-4">Demo materials:</p>
        <video
          width="<%= project.videoWidth %>"
          height="<%= project.videoHeight %>"
          style="max-width: 100%"
          controls
        >
          <source src="<%= project.demo1 %>" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <br />
        <img
          src="<%= project.demo2 %>"
          alt="<%= project.demo2 %>"
          width="<%= project.demo2Width %>"
          height="<%= project.demo2Height %>"
          class="mb-10"
        />
        <br />
        <img
          src="<%= project.demo3 %>"
          alt="<%= project.demo3 %>"
          width="<%= project.demo3Width %>"
          height="<%= project.demo3Height %>"
          class="mb-10"
        />
        <br />
        <img
          src="<%= project.demo4 %>"
          alt="<%= project.demo4 %>"
          width="<%= project.demo4Width %>"
          height="<%= project.demo4Height %>"
          class="mb-10"
        />
        <a href="<%= project.deployed %>" class="text-green-500 hover:underline" target="_blank" rel="noopener noreferrer">Live Version</a>
      </div>
    </main>

    <!-- Footer -->
    <footer class="gradient-footer bg-gray-800 text-white py-4 mt-10">
      <div class="container mx-auto text-center">
        <p class="mt-2 opacity-70 text-sm">Express Basic Server</p>
        <p class="mt-2 opacity-70 text-sm">© 2023 Ironhack</p>
      </div>
    </footer>

    <!-- <script>
window.onload = function () {
  fetch("/api/projects")
    .then((response) => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .then((projects) => {
      const projectContainer = document.getElementById("projectsContainer");
      const project = projects.find((project) => project.id === "1");
      if (project) {
        const projectCard = `
          <div class="bg-white shadow-lg rounded p-6 mb-10">
            <h3 class="text-2xl font-bold mb-4">${project.title}</h3>
            <img src="${project.image}" alt="${project.title}" class="mb-4">
            <p class="mb-4">${project.description}</p>
            <p class="mb-4">${project.detailedDescription}</p>
            <ul class="mt-2 mb-4">
                              ${project.techStack
                                .map(
                                  (tech) =>
                                    `<li class="inline-block text-white px-2 py-1 rounded mr-2 mt-2 tag">${tech}</li>`
                                )
                                .join("")}
                          </ul>
                      </div>
          </div>
        `;
        projectContainer.innerHTML = projectCard;
      } else {
        projectContainer.innerHTML = `
          <div class="text-center py-4 lg:px-4">
            <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
              <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">Error</span>
              <span class="font-semibold mr-2 text-left flex-auto">Project not found.</span>
            </div>
          </div>
        `;
      }
    })
    .catch((error) => {
      console.error("Failed to load projects:", error);
      const projectContainer = document.getElementById("projectsContainer");
      projectContainer.innerHTML = `
        <div class="text-center py-4 lg:px-4">
          <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
            <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">Error</span>
            <span class="font-semibold mr-2 text-left flex-auto">Failed to load projects, please try again later.</span>
          </div>
        </div>
      `;
    });
};

    </script> -->
  </body>
</html>
